.card {
  background: rgba(255,255,255,0.05);
  border: 1px solid rgba(255,255,255,0.08);
  border-radius: 20px;
  padding: 20px;
  transition: 0.3s;

  &:hover {
    transform: translateY(-6px);
    border-color: $primary;
  }
}
.now-playing {
  margin-top: 20px;
  text-align: center;

  h3 {
    margin: 10px 0 5px;
  }

  .small {
    color: $gray;
    font-size: 13px;
  }

  .bar {
    height: 4px;
    background: rgba(255,255,255,0.1);
    margin-top: 12px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      height: 100%;
      width: 40%;
      background: $primary;
      animation: loading 1.5s infinite;
    }
  }
}
.card {
  backdrop-filter: blur(12px);
}